<%- include('../layouts/adminHeader.ejs')%>
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <br>
  <br>
  <div class="container" style="padding-left: 100px;">
    <link rel="stylesheet" href="/css/style (3).css">

    <div>
      <h2 class="category-heading">Edit Category</h2>


    </div>

    <div class="main-content">
      <form id='addForm' onsubmit="return validateForm();" action="/admin/editCategory" method="post" enctype="multipart/form-data">
        <div class="category-form">
          <br><span class="label-input100" strong
            style="color:black">CATEGORY</span><br>
            <input type="text" style="border-color:black" name="categoryName" class="form-control" id="categoryName" value="<%=category.categoryName %>"
            onkeyup="validateCategory()">
            
            <input type="text" name="id" class="form-control" id="proId" onkeyup="validateName()"
            value="<%=category._id %>" hidden>
            <span class="formerror text-danger" id="category-info"></span><br>

            <span class="label-input100" strong
            style="color:black">CATEGORY OFFER</span><br>
          
            <input type="text" style="border-color:black" name="categoryOffer" class="form-control" id="categoryOffer" value="<%=category.categoryOffer %>"
            onkeyup="validateOffer()">
            <span class="formerror text-danger" id="offer-info"></span><br>

          <div class="m-4">
            
            <span class="label-input100" strong style="color:black">CATEGORY IMAGE</span><br>
            <label style="color: #fff; font-weight: 300;">Upload Images</label><br>
              <input type="file" style="border-color:black" class="form-control-file custom-file-input" id="preview-image"
              name="categoryImage" onchange="previewImage(event)" style="opacity:100" multiple onkeyup="validateImage()">
              <span class="formerror text-danger" id="image-info"></span>
            </div>
          <button type="submit" class="btn btn-primary category-btn">Add</button>
        </div>

        <span>
          <p style="color: green"></p>
          <% if(typeof successMessage!=='undefined' ){ %>
            <p style="color:green"><%- successMessage %></p>
            <% } if(typeof errorMessage!=='undefined' ){ %>
              <p style="color:red"><%- errorMessage %></p>
              <% } %>
        </span>
      </form>



    </div>


    <!-- 
<footer class="footer text-center"> 2021 © Ample Admin brought to you by <a
    href="https://www.wrappixel.com/">wrappixel.com</a>
</footer> -->
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->

  <script>
    function previewImage(event) {
      const previewImages = document.querySelectorAll('preview-image')
      for (let i = 0; i < event.target.files.length; i++) {
        const file = event.target.files[i]
        const reader = new FileReader()
        reader.onload = function (e) {
          previewImages[i].src = e.target.result
        }
        reader.readAsDataURL(file)
      }
    }
  </script>
  <%- include('../layouts/adminFooter.ejs')%>


    <script>
      var categoryError = document.getElementById("category-info");
      var offerError = document.getElementById("offer-info");
      var submitError = document.getElementById("submit-info");
      var addform = document.getElementById('addForm')

      function validateForm() {
        event.preventDefault();
        if (
          !validateCategory() &&
          !validateOffer()
        ) {
          submitError.style.direction = "block";
          submitError.innerHTML = "Please Fix the errors to Register";
          event.preventDefault();
          setTimeout(function () {
            submitError.style.display = "none ";
          }, 3000);
          return false;
        } else if (
          !validateCategory() ||
          !validateOffer()

        ) {
          submitError.style.direction = "block";
          submitError.innerHTML = "Please Enter All Required Fields to Register";
          event.preventDefault();
          setTimeout(function () {
            submitError.style.display = "none ";
          }, 3000);
          return false;
        }
        else {
          addform.submit()
        }
      }

      function validateCategory() {
        var category = document.getElementById("categoryName").value.trim();
        

        if (category.length === 0) {
          categoryError.innerHTML = "Category Name is required";
          return false;
        }

        if (!category.replace(/\s/g, "").length) {
          categoryError.innerHTML = "Category Name cannot be just spaces";
          return false;
        } else {
          categoryError.innerHTML = "";
          return true;
        }
      }

      function validateOffer() {
        var offer = document.getElementById("categoryOffer").value.trim();

        if (offer.length === 0) {
          offerError.innerHTML = "Category Offer is required";
          return false;
        }
        if(isNaN(offer) || parseFloat(offer) < 0)
        {
          offerError.innerHTML = "Please enter a valid category Offer";
          return false;
        }

        
        else {
          offerError.innerHTML = "";
          return true;
        }
      }




    </script>