<%- include('../layouts/userHeader.ejs')%>

    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">

            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px"
                        src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                    <span class="font-weight-bold"></span>
                    <input value="" readonly style="border: none; width:250px">
                </div>
            </div>


            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <form id="addForm" onsubmit="return validateForm();" action="/editAddress" method="post">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Settings</h4>
                        </div>

                        <div class="row mt-3">

                            <!-- <div class="col-md-12"><label for="name"></label>Name</label><input type="text" class="form-control" placeholder="first name" value=""></div>
                    <div class="col-md-12"><label for="phonenumber"></label>Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" value=""></div> -->
                            <span class="formerror text-danger" id="name-info"></span>
                            <div class="col-md-12"><label for="">Name</label><input type="text" name="name"
                                    class="form-control" id="name" onkeyup="validateName()" value="<%=userData.name%>">
                            </div>
                            <span class="formerror text-danger" id="name-info"></span>
                            <div class="col-md-12"> <input type="text" name="id"
                                    class="form-control" id="id" value="<%=userData.id%>" hidden>
                            </div>
                            <span class="formerror text-danger" id="phonenumber-info"></span>
                            <div class="col-md-12"><label for="">Phonenumber</label><input type="text"
                                    name="phonenumber" class="form-control" id="phonenumber"
                                    onkeyup="validatePhonenumber()" value="<%=userData.phonenumber%>"></div>
                            <span class="formerror text-danger" id="address1-info"></span>
                            <div class="col-md-12"><label for="address1">Address Line 1</label><input type="text"
                                    name="address1" class="form-control" id="address" value="<%=userData.address1%>"
                                    onkeyup="validateAddress()" value=""></div>
                            <span class="formerror text-danger" id="address2-info"></span>
                            <div class="col-md-12"><label for="address2">Address Line 2</label><input type="text"
                                    name="address2" class="form-control" id="address-2" value="<%=userData.address2%>"
                                    onkeyup="validateAddress2()" ></div>

                        </div>

                        <div class="row mt-3">
                            <div class="col-md-6">
                                <span class="formerror text-danger" id="state-info"></span><label
                                    for="state">State/Region</label>
                                <select name="state" class="form-control" id="state" onkeyup="validateState()">
                                    <option value="select">Select</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="TamilNadu">TamilNadu</option>
                                    <option value="Karnataka">Karnataka</option>
                                    <option value="Telungana">Telungana</option>
                                    <option value="AndraPradesh">AndraPradesh</option>
                                    <option value="Jammu&Kashmir">Jammu & Kashmir</option>
                                    <option value="Uttarakand">Uttarakand</option>
                                    <option value="Orissa">Orrisa</option>
                                    <option value="Jharkhand">Jharkhand</option>
                                    <option value="Rajastan">Rajastan</option>
                                    <option value="Punjab">Punjab</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="Mizoram">Mizoram</option>
                                    <option value="Manipur">Manipur</option>

                                </select>
                            </div>

                            <div class="col-md-6"><label for="country">Country</label><input type="text"
                                    class="form-control" placeholder="country" value="India" readonly></div>
                            <span class="formerror text-danger" id="pincode-info"></span>
                            <div class="col-md-8"><label for="pincode">PINCODE</label><input type="text" name="pincode"
                                    class="form-control" id="pincode" onkeyup="validatePincode()" value="<%=userData.pincode%>"
                                    ></div>
                        </div>
                        <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save
                                Profile</a></button></div>
                    </form>
                </div>
            </div>



        </div>
    </div>
    </div>
    </div>

    <script>
        var nameError = document.getElementById("name-info");
        var phonenumberError = document.getElementById("phonenumber-info");
        var addressError = document.getElementById("address1-info");
        var address2Error = document.getElementById("address2-info");
        var pincodeError = document.getElementById("pincode-info");
        var stateError = document.getElementById("state-info");
        var submitError = document.getElementById("submit-error")
        var addform = document.getElementById('addForm')

        function validateForm() {
            event.preventDefault()
            if (
                !validateName() &&
                !validatePhonenumber() &&
                !validateAddress() &&
                !validateAddress2() &&
                !validateState() &&
                !validatePincode()
            ) {
                submitError.style.display = "block";
                submitError.innerHTML = "Please Fix the errors to Register";
                event.preventDefault();
                setTimeout(function () {
                    submitError.style.display = "none ";
                }, 3000);
                return false;
            } else if (
                !validateName() ||
                !validatePhonenumber() ||
                !validateAddress() ||
                !validateAddress2() ||
                !validateState() ||
                !validatePincode()
            ) {
                submitError.style.direction = "block";
                submitError.innerHTML = "Please Enter All Required Fields to Register";
                event.preventDefault();
                setTimeout(function () {
                    submitError.style.display = "none ";
                }, 3000);
                return false;
            }
            else {
                addform.submit()
            }
        }

        function validateName() {
            var name = document.getElementById("name").value;

            if (name.length == 0) {
                nameError.innerHTML = "Username is required";
                return false;
            }

            if (!name.match(/(^[a-zA-Z][a-zA-Z\s]{0,20}[a-zA-Z]$)/)) {
                nameError.innerHTML = "Invalid Username";
                return false;
            } else {
                nameError.innerHTML = "";
                return true;
            }
        }
        function validatePhonenumber() {
            var phone = document.getElementById("phonenumber").value;

            if (phone.match(/^[0-9]{3}-[0-9]{4}-[0-9]{4}$/)) {
                phonenumberError.innerHTML = "Enter Only Digits";
                return false;
            }

            if (phone.length == 0) {
                phonenumberError.innerHTML = "Mobile Number required";
                return false;
            }
            if (phone.charAt(0) === '0') {
                phonenumberError.innerHTML = "First digit cannot be 0";
                return false;
            }
            if (phone.length !== 10) {
                phonenumberError.innerHTML = "Mobile Number should be ten digits";
                return false;
            }

            else {
                phonenumberError.innerHTML = "";
                return true;
            }
        }

        function validateAddress() {
            var address = document.getElementById("address").value;
            if (address.length == 0) {
                addressError.innerHTML = "Address is required";
                return false;
            }
            if (!address.replace(/\s/g, "").length) {
                addressError.innerHTML = "Address cannot be just spaces";
                return false;
            }
            addressError.innerHTML = "";
            return true;
        }



        function validateAddress2() {
            var address2 = document.getElementById("address-2").value;
            if (address2.length == 0) {
                address2Error.innerHTML = "Address is required";
                return false;
            }
            else {
                address2Error.innerHTML = "";
                return true;
            }
        }

        function validateState() {
            var selectedState = document.getElementById("state").value;
            var errorElement = document.getElementById("state-info");

            if (selectedState === "state1") {
                errorElement.innerHTML = "Please select a state";
                return false;
            } else {
                errorElement.innerHTML = "";
                return true;
            }
        }


        function validatePincode() {
            var pincode = document.getElementById("pincode").value;
            if (!pincode.match(/^[0-9]{6}$/)) {
                pincodeError.innerHTML = "Please enter a valid 6-digit PINCODE";
                return false;
            }
            if (pincode.charAt(0) === '0') {
                pincodeError.innerHTML = "Please enter a valid 6-digit PINCODE";
                return false;
            }
            else {

                pincodeError.innerHTML = ""
                return true
            }
        }
    </script>

    <%- include('../layouts/userFooter.ejs')%>